@import "tailwindcss";


/* আপনার শুধু ২টি ক্লাস */
.primary-color {
  color: #7c3aed;
}

.secondary-color {
  color: #06b6d4;
}

/* Swiper imports */
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

/* Custom Swiper styles with Tailwind */
.swiper-button-disabled {
  @apply opacity-30 cursor-not-allowed hover:scale-100 hover:bg-white/20;
}

.swiper-pagination-bullet {
  @apply w-3 h-3 bg-white/50 mx-1 transition-all duration-300;
}

.swiper-pagination-bullet-active {
  @apply w-8 bg-gradient-to-r from-[#7c3aed] to-[#06b6d4] rounded-full;
}

/* Hide default Swiper arrows */
.swiper-button-next,
.swiper-button-prev {
  @apply !hidden;
}